<div class="sidebar">
  <div class="titleClass">
    <h2 class="title">Operational Locations</h2>
    <span>4 Active </span>
  </div>
  <ul class="branch-list">
    <li class="branch-item purple">
      <i class="fas fa-building"></i> DHA Branch
      <i class="delete far fa-trash-alt"></i>
    </li>
    <li class="branch-item yellow">
      <i class="fas fa-building"></i> Malir Branch
      <i class="delete far fa-trash-alt"></i>
    </li>
    <li class="branch-item green">
      <i class="fas fa-building"></i> Saddar Branch
      <i class="delete far fa-trash-alt"></i>
    </li>
    <li class="branch-item blue">
      <i class="fas fa-building"></i> Golshan Branch
      <i class="delete far fa-trash-alt"></i>
    </li>
  </ul>
</div>
