.sidebar {
  width: 250px;
  height: 100%;
  background-color: #fff;
  padding: 15px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  font-family: "Segoe UI", sans-serif;
}

.titleClass {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.titleClass span {
  color: rgba(0, 0, 0, 0.5);
  font-family: "DM Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: 19px; /* 146.154% */
  letter-spacing: -0.26px;
}
.title {
  color: #000;
  font-family: "DM Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px; /* 110% */
  letter-spacing: -0.4px;
}

.branch-list {
  list-style: none;
  padding: 0;
}

.branch-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 8px;
  border-radius: 6px;
  color: black;
  font-weight: 600;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

.branch-item i {
  margin-right: 8px;
}

.delete {
  cursor: pointer;
  color: #ff515c;
}
.mobileIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  color: white;
  height: 40px;
  flex-shrink: 0;
  aspect-ratio: 1/1;
  border-radius: 5px;
}
