<div class="sidebar">
  <div class="titleClass">
    <h2 class="title">Operational Locations</h2>
    <span>4 Active </span>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="14"
      viewBox="0 0 14 14"
      fill="none"
    >
      <circle cx="7" cy="7" r="7" fill="#2EBC96" />
    </svg>
  </div>
  <ul class="branch-list">
    <li class="branch-item purple">
      <i
        class="mobileIcon fas fa-building"
        style="background-color: #d736ff"
      ></i>
      DHA Branch
      <i class="delete far fa-trash-alt"></i>
    </li>
    <li class="branch-item yellow">
      <i
        class="mobileIcon fas fa-building"
        style="background-color: #ffd84d"
      ></i>
      Malir Branch
      <i class="delete far fa-trash-alt"></i>
    </li>
    <li class="branch-item green">
      <i
        class="mobileIcon fas fa-building"
        style="background-color: #2ebc96"
      ></i>
      Saddar Branch
      <i class="delete far fa-trash-alt"></i>
    </li>
    <li class="branch-item blue">
      <i
        class="mobileIcon fas fa-building"
        style="background-color: #4285f4"
      ></i>
      Golshan Branch
      <i class="delete far fa-trash-alt"></i>
    </li>
  </ul>
</div>
