/* puri screen ka layout */
.layout {
  display: flex;
  height: calc(100vh - 60px);
  overflow: hidden;
}

app-sidebar {
  width: 260px;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
  z-index: 1000;
  margin-top: 5px;
}

app-map-commponent {
  flex: 1;
  position: relative;
  z-index: 1;
  margin-left: 5px;
  margin-top: 5px;
  width: auto !important;
}

app-header {
  display: block;
  height: 60px;
  width: 100%;
  background-color: #fff;
  z-index: 1001;
}
